@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
.container{
	article.row{
		ul.button-group.row{
			li{
				a{
					@include border-radius(0px);
				}
			}
		}		
	}
	article.row.box{
		@include border-radius(0px);
		background:#fff;
		&.icp{
			background:#e7e8eb;
			border-color:#e7e8eb;
			color:#fafafa;
		}	
	}
	button#multip-start{
		@include border-radius(0px);
	}		

}

.show-info{
	button{
		outline:none;
		&.success{
			border-bottom: 3px #759a51 solid;		
		}
		&.yellow{
			border-bottom: 3px #dab10d solid;			
		}
		@include border-radius(0px);
	}
	.tabs.accordion > ul li{
		@include border-radius(0px);
	}
	.box{
		@include border-radius(0px);	
	}
}
