@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";

.show-top,.show-bottom{
	border: 1px solid #ddd;	
	.start-container{
		position:absolute;
		bottom:0;
		right:0;
		button{
			background: #0071c5;
			border-color: #0071c5;
			color:#fff;
		}
		button.start{
			@include border-radius(0px);
			outline:none;
		}		
	}
}

.right-cont{
	border-left:1px solid #ddd;
	.small-info{
		border-bottom:1px solid #ddd;
	}
}