@import "compass/css3/border-radius";
ul.button-group li:first-child a, ol.button-group li:first-child a, ul.button-group li:first-child button, ol.button-group li:first-child button{
	@include border-radius(0px);
}
ul.button-group li:last-child a, ol.button-group li:last-child a, ul.button-group li:last-child button, ol.button-group li:last-child button{
	@include border-radius(0px);
}
.box{
	@include border-radius(0px);
	background:#fff;
	&.no-data{
		.box{
			background:lightgrey;	
		}
	}
}
.seacher{
	.box{
		background-color:lightgrey;
		@include border-radius(0px);
		border:0px;
		padding:4px;
	}
}

.name-holder{
	line-height:2.5em;
}

a{
	text-decoration: none;
	&:hover,:active{
		text-decoration: none;
	}
}