@import "compass/css3/border-radius";
.thumbnail{
	border:0px;
	width:100%;
	height:100%;
	position: relative;
	@include border-radius(0px);
	box-shadow: inset 0px 0px 1px #FFFFCC;
	&:before{
		content: "";
		display: block;
		padding-top: 100%;
	}
	&.ax{
		background:#2d89ef;
	}
	&.crm{
		background:#ffc40d;
	}
	&.gp{
		background:#2b5797;
	}
	&.nav{
		background:#b91d47;
	}
	&.sl{
		background:#da532c;
	}
	&.ax_dy{
		background:#008287;
	}	
	&.sl_dy{
		background:#99b433;
	}	
	&.crm_dy{
		background:#3a3a3a;
	}
}

span.fa{
	margin-right:10px;
	height:32px;
	line-height:32px;
}