@import "compass/css3/border-radius";

@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}
.logo-container{
	display:inline-block;
	background:#008287;
	width:100%;
	img{
		width:100%;
		height:auto;
	}
}
.nav-box{
	display:inline-block;
	position: relative;
	width:100%;
	&:before{
		content: "";
		display: block;
		padding-top: 100%;
	}
	&:nth-child(1){
		background:#8f4bab;
	}
	&:nth-child(2){
		background:#2b2929;
	}
	&:nth-child(3){
		background:#2b3c4e;
	}
	&:nth-child(4){
		background:#29b765;
	}
	&:nth-child{5}{
		background:#258cd1;
	}
	&:nth-child(6){
		background:#f1c40f;
	}
	&:nth-child(7){
		background: #d67118;
	}
	&:nth-child(8){
		background:#e74c3c;
	}
	&:nth-child(9){
		background:#ea1067;
	}
	&:nth-child(10){
		background:#17a689;
	}

	h3{
		position:absolute;
		padding:10px;
		width:100%;
		text-align: center;
		font-weight:bold;
		color:#fff;
		top:0px;
		left:0px;
	}
	h5{
		position:absolute;
		padding:10px;
		width:100%;	
		color:#fff;
		bottom:0px;
		left:0px;		
		span.fa{
			position: absolute;
			top:-6px;
			right:10px;
			font-size:22px;
		}
		&.tel{
			text-align:center;
		}
	}
}