@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

article.row{
	>div{
		a{
			@include box-shadow(#eee 1px 1px 5px);	
		}
		
	}
}
.logoimg{
	border-radius: 0px;
	background:#2d89ef;
}

.blue:hover{
	text-decoration:none;
}
.blue h6{
	color:#fff;
	margin:0;
}
.crm{
	background:#ba141a;
}
.ax{
	background:#2d89ef;
}
.softkill{
	background:#9f00a7;
}
.free{
	background:#b91d47;
}
.mycourse{
	background:#00d8cc;
}
.feedback{
	background:#b4009e;
}
.net{
	background:#009e49;
}
.cill{
	background:#7fba00;
}
.personal{
	background:#ffb900;
}
.tel{
	background:#fcd116;
}
.search{
	background:#17a689;
}