@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

article.row{
	>div{
		a{
			@include box-shadow(#eee 1px 1px 5px);	
		}
		
	}
}
.logoimg{
	border-radius: 0px;
	background-color:rgb(0,188,242);
}

.blue:hover{
	text-decoration:none;
}
.blue h6{
	color:#fff;
	margin:0;
	&.nets{
		line-height:1.41em;
	}
}
a,a:hover,a:active{
	text-decoration: none;
}
.crm{
	background-color:rgb(235, 60, 0);
}
.ax{
	background-color:#7fba00;
}
.softkill{
	background-color:rgb(180, 0, 158);
}
.free{
	background-color:rgb(0, 188, 242);
}
.mycourse{
	background-color:rgb(255, 185, 0);
}
.feedback{
	background-color:rgb(0, 114, 198);
}
.net{
	background-color:rgb(255, 140, 0);
}
.cill{
	background-color:rgb(255, 140, 0);
}
.personal{
	background-color:rgb(104, 33, 122);
}
.tel{
	background-color:rgb(0, 148, 148);
}
.search{
	background-color:rgb(0, 24, 143);
}
h6{
	text-transform: capitalize;
}