@import "compass/css3/border-radius";
article.row{
	>div{
		img{
			bottom:5%;
			right:5%;
		}

		a.crm{
			background-color:rgb(235, 60, 0);
		}

		a.ax{
			background-color:rgb(127, 186, 0);
		}		

		a.soft{
			background-color:rgb(180, 0, 158);
		}		

		a.free{
			background-color:rgb(0, 188, 242);
		}			

		a.enroll{
			background-color:rgb(255, 185, 0);
		}			

		a.feed{
			background-color:rgb(0, 114, 198);
		}									

		a.personal{
			background-color:rgb(104, 33, 122);
		}		

		a.tel{
			background-color:rgb(0, 178, 148);
		}			

		a.net1{
			background-color:rgb(255, 140, 0);
		}		

		a.net2{
			background-color:rgb(255, 140, 0);
		}			
	}
}
.nav-box{
	display:block;
	position: relative;
	width:100%;
	outline:none;
	&:before{
		content: "";
		display: block;
		padding-top: 100%;
	}
	h4{
		position:absolute;
		padding:10px;

		font-family: Arial;

		color:#fff;
		top:0px;
		left:0px;
	}
	h5{
		position:absolute;
		padding:10px;
		width:100%;	
		color:#fff;
		bottom:0px;
		left:0px;		
		span.fa{
			position: absolute;
			top:-6px;
			right:10px;
			font-size:22px;
			&.fa-phone{
				right: 0px;
				left: 10px;
				top: 10px;
			}			
		}

	}
}
.box.phone{
	background:#fff;
	span.contact{
		top:35%;
	}
	img{
		width:128px;
		height:128px;
	}
	h1{
		font-size:1.5em;
	}
}