@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
.container{
	article.row{
		ul.button-group.row{
			li{
				a{
					@include border-radius(0px);
				}
			}
		}		
	}
	article.row.box{
		@include border-radius(0px);
		background: #fff;
	}		
	.seacher{
		.box{
			@include border-radius(0px);
			border:0px;
			padding:4px;
		}
	}
}

.name-holder{
	height:2.5em;
}
.show-info{
	button{
		outline:none;
		&.success{
			border-bottom: 3px #759a51 solid;		
		}
		&.yellow{
			border-bottom: 3px #dab10d solid;			
		}
		@include border-radius(0px);
	}
	.tabs.accordion > ul li{
		@include border-radius(0px);
	}
	.box{
		@include border-radius(0px);
	}
	
}
