@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";
@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
body.login{
	// background:#37BC9B;
	background:#fafafa;
	.login-header{
		.logo-container{
			margin:0 auto;
			float:none;
			img.logo{
				position:relative;
				left:-15px;
			}
		}
	}
	.login-wrapper{
		.form{
			float:none;
			margin:0 auto;	
			// border: 1px solid #fafafa;
			border:1px solid #ccc;
			background:#fdfdfd;			
			@include border-radius(6px);	
			.ipt-container{
				position:relative;
				input{
					outline:none;
					border:1px solid #dddddd;
					// height:2.23em;
					// line-height:2.23em;		
					padding-left:1em;			
					@include border-radius(0px);
				}
				.tooltip{
					display:none;
					width: 100%;
					font-size: 1.5em;
					height: 100%;
					padding: 0.4em;
					top: 0px;
					left:110%;
					background:#b94a48;
					color: #fff;
					position: absolute;
					@include border-top-right-radius(6px);
					@include border-bottom-right-radius(6px);
				}
			}		
			select{
				outline:none;
				@include border-radius(0px);
			}	
			button{
				background:#0071c5;
				border-color:#0071c5;
				color:#fff;
				outline:none;
				&:hover{
					background:#0071c5;
				}
			}
			.checklist{
				color:#2b2b2d;
			}
			p{
				color:#2b2b2d;
				text-align:center;
				a{
					color:#2b2b2d;
					cursor:pointer;
					text-decoration:none;
				}	
			}
	
		}

	}

}