@import "compass/css3/border-radius";
body,html{
		background:#fafafa;

		fieldset{
			border:none;
			border-top: 1px solid #dddddd;
			.prefix, .suffix{
				background:#fafafa;
			}
		}


		.wraper{
			input,button,select{
				@include border-radius(0px);
			}
			.align-center{
				color:#fff;
			}
			ul{
				li{
					color:#fff;
				}
			}
		}		
}