@import "compass/css3/border-radius";
body,html{
		background:#fafafa;
		a,a:hover,a:visited{
			text-decoration: none;
		}
		fieldset{
			border:none;
			// border-top: 1px solid #dddddd;
			.prefix, .suffix{
				background:#fafafa;
			}
		}

		.row.location{
			background-color:rgb(0,188,242);
			color:#fff;
			a{
				color:#fff;
				text-decoration: none;	
				&:hover,&:active{
					text-decoration: none;
				}
			}
		}

		.wraper{
			input,button,select{
				@include border-radius(0px);
			}
			.align-center{
				color:#fff;
			}
			ul{
				li{
					color:#fff;
				}
			}
		}		
}