@import "compass/css3/border-radius";
fieldset{
	@include border-radius(0px);
	background:#fff;
}
	.seacher{
		.box{
			@include border-radius(0px);
			border:0px;
			padding:4px;
		}
	}
.logoimg{
	border-radius: 0px;
	background:#2d89ef;
}

.blue:hover{
	text-decoration:none;
}
label{
	display:inline-block;
}
button{
	@include border-radius(0px);
}
