@import "compass/css3/border-radius";
@import "compass/utilities/general/clearfix";
.one.half.padded.password-container{
	float:none;
	margin:0 auto;
}

form{
	.row{
		label{
			span{
				display:inline-block;
				background:#f2dede;
				border-color:#eed3d7;
				color:#b94a48;
				margin-left:1em;
				padding:0px 1em;
			}
		}
	}
}
