@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";

@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}


.search-container{
	position:relative;
	.fa-search{
		@include square(32px);
	}
}