@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";

@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}

body{
	background:#e7e8eb;
	header{
		background:#fff;
		.logo-container{
			display:inline-block;
			&.mobile{
				text-align:center;
			}
		}
		
		.search-container{
			margin-top:1em;
			input{
				outline:none;
			}
			.fa-search{
				top:10%;
			}
		}
		.login-container{
			a{
				display:inline-block;
				@include one-line(32px);
				text-align:center;
				text-decoration: none;
			}
		}

		.nav{
			border:0px;
			background:#fff;
			a{
				background:#fff;
				&:hover{
					background:#fff;
				}
				&:visited{
					background:#fff;
				}
			}
			ul{
				li{
					text-align:center;
					a{
						display:inline-block;
						padding:1em;
						width:100%;
						&:hover{
							background:#e7e8eb;
						}
					}
				}
				li[aria-selected="true"]{
					a{
						background:#e7e8eb;	
					}
					
				}
			}
		}
		nav.nav{
			>ul{
				li{
					a{
						font-weight:normal;
					}
				}
			}
		}
	}
	.container.main{
		background:#fff;
		.tabs{
			ul{
				li{
					background: #e7e8eb;
					&.active{
						background:#fff;	
					}					
				}
				&.unstyled{
					li{
						background:#fafafa;	
					}
				}
			}
		}
	}
	#nav_ax,#nav_crm,#nav_ax_crm,#nav_free,#nav_personal,#nav_order,#nav_feed,#nav_net1,#nav_net2,#nav_tel{
		font-weight:normal;
	}
}



