@import "compass/utilities/general/clearfix";
@import "compass/css3/inline-block";
@import "compass/css3/opacity";

@mixin one-line($height) {
	height: $height;
	line-height: $height;
	vertical-align: middle;
}

@mixin square($edge) {
	@include inline-block;
	width: $edge;
	@include one-line($edge);
}

@mixin size($width, $height) {
	width: $width;
	height: $height;
}


.logo-container{
	display:inline-block;
	width:100%;
	&.mobile{
		text-align:center;
	}
}

.search-container{
	position:relative;
	.fa-search{
		@include square(32px);
	}
}
.login-container{
	a{
		display:inline-block;
		@include one-line(32px);
		text-align:center;
		text-decoration: none;
	}
}
.nav{
	ul{
		li{
			text-align:center;
			a{
				display:inline-block;
				width:100%;
			}
		}
	}
}