<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle" %>
  <%= javascript_include_tag "pages/default/index-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top">
    <div class="container main triple-padded">
      <article class="row">
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="/"class="nav-box block purple">
            <h1 class="responsive">Welcome</h1>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInDownLeft animated">
          <a href="/category?t=crm" class="nav-box block charcoal">
           <h1 class="responsive">Responsive Heading</h1>
           <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInDown animated">
          <a href="" class="nav-box block asphalt">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInUp animated">
          <a href="" class="nav-box block green">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInUpRight animated">
          <a href="" class="nav-box block blue">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInLeft animated">
          <a href="" class="nav-box block yellow">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInDownLeft animated">
          <a href="" class="nav-box block orange">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInDown animated">
          <a href="" class="nav-box block red">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded bounceInUp animated">
          <a href="" class="nav-box block pink">
            <h1 class="responsive">Responsive Heading</h1>
            <h5>Shadn.D.Xiao<span class="fa fa-cloud"></span></h5>
          </a>
        </div>
        <div class="one fifth two-up-small-tablet two-up-mobile padded rotateInUpRight animated">
          <a href="" class="nav-box block turquoise">
            <h1 class="responsive">联系电话</h1>
            <h5><span class='block align-center'>15210427877</span><span class="fa fa-phone"></span></h5>
          </a>
        </div>
      </article>  
    </div>
  
</div>
