<% content_for :app_head do %>
  <%= stylesheet_link_tag    "pages/default/index-bundle" %>
  <%= javascript_include_tag "pages/default/index-bundle" %>
  <script type="text/javascript">
  jQuery(function($) {

  });
  </script>
  <%= yield :head %>
<% end %>
<div class="row triple-gap-top triple-pad-top triple-pad-bottom">
    <div class="container main triple-padded">
      <article class="row">
        <div class="one whole box phone">
          <%= image_tag('phone.jpg',:class => 'phone-img triple-gap-right')%>
          <span class='absolute contact'><h1>致电客服:010-85892607</h1></span>
        </div>
      </article>  
    </div>
</div>
