//=require 'jquery.timepicker'
@import "compass/css3/border-radius";
.right-main{
	input,textarea,select{
		outline:none;
	}
}

.msg-box{
	display:none;
}

#course_notice_content{
	display:none;
}

table{
	tr{
		th,td{
			vertical-align: middle;
		}
	}
}

.show-top,.show-bottom{
	border:1px solid #ddd;
}

.show-bottom{
	.bottom-left{
		.box{
			border:0px;
			@include border-radius(0px);
			color:#222;
		}
	}
	.bottom-right{
		.right-cont{
			border-left:1px solid #ddd;
			.constructor-desc{
				border-bottom:1px solid #ddd;
			}
			.course-city{
				border-top:1px solid #ddd;
			}
			.course-stard-end,.course-stard-start{
				font-size:0.9em;
			}
		}
	}
}