/* line 4, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.tool .blue {
  overflow: hidden;
  *zoom: 1;
  background: #3498db;
}
/* line 9, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.tool .blue ul li {
  display: inline;
  color: #fff;
}

/* line 17, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.select-tool .checklist li {
  cursor: pointer;
}

/* line 21, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.avatar img {
  border: 1px solid #ddd;
}

/* line 26, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.audience {
  color: #999;
}

/* line 29, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.pagement {
  color: #999;
  position: relative;
}
/* line 32, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.pagement button {
  border: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 39, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.paginate .center {
  text-align: center;
}
/* line 42, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.paginate button {
  background: #fff;
  outline: none;
}

/* line 48, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.no-data {
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 52, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/category-bundle.css.scss */
.c-title {
  height: 3em;
}
