/* line 2, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/feedback-bundle-mobile.css.scss */
ul.button-group li:first-child a, ol.button-group li:first-child a, ul.button-group li:first-child button, ol.button-group li:first-child button {
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 5, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/feedback-bundle-mobile.css.scss */
ul.button-group li:last-child a, ol.button-group li:last-child a, ul.button-group li:last-child button, ol.button-group li:last-child button {
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 8, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/feedback-bundle-mobile.css.scss */
.box {
  -o-border-radius: 0px;
  border-radius: 0px;
  background: #fff;
}
