/* line 7, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.container article.row ul.button-group.row li a {
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 13, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.container article.row.box {
  -o-border-radius: 0px;
  border-radius: 0px;
}

/* line 20, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.show-info button {
  outline: none;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 22, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.show-info button.success {
  border-bottom: 3px #759a51 solid;
}
/* line 25, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.show-info button.yellow {
  border-bottom: 3px #dab10d solid;
}
/* line 30, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.show-info .tabs.accordion > ul li {
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 33, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/order-bundle-mobile.css.scss */
.show-info .box {
  -o-border-radius: 0px;
  border-radius: 0px;
}
