/* line 2, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/regist-bundle-mobile.css.scss */
body, html {
  background: #630460;
}
/* line 5, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/regist-bundle-mobile.css.scss */
body .wraper input, body .wraper button, body .wraper select, html .wraper input, html .wraper button, html .wraper select {
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 8, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/regist-bundle-mobile.css.scss */
body .wraper .align-center, html .wraper .align-center {
  color: #fff;
}
/* line 12, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/regist-bundle-mobile.css.scss */
body .wraper ul li, html .wraper ul li {
  color: #fff;
}
