/* line 2, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/search-bundle-mobile.css.scss */
.box {
  -o-border-radius: 0px;
  border-radius: 0px;
  border: 1px solid #ddd;
  color: #fff;
}

/* line 7, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/search-bundle-mobile.css.scss */
.lg {
  background: #00bcf2 !important;
}
/* line 9, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/search-bundle-mobile.css.scss */
.lg a {
  text-decoration: none;
}

/* line 13, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/search-bundle-mobile.css.scss */
.select-container {
  display: none;
}

/* line 17, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/default/search-bundle-mobile.css.scss */
span.container {
  display: none;
}
