/* line 3, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/user/orders-bundle.css.scss */
table tr td {
  vertical-align: middle;
}

/* line 9, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/user/orders-bundle.css.scss */
.tablist li a {
  height: 100%;
  width: 100%;
  text-decoration: none;
}
/* line 13, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/user/orders-bundle.css.scss */
.tablist li a:hover {
  text-decoration: none;
}

/* line 17, /Users/x/workspace/projects/ruby_projects/MicroCrm/app/assets/stylesheets/pages/user/orders-bundle.css.scss */
.confirm-box {
  display: none;
}
